<p style="text-align: center; margin: 2rem">
  Thanks&mdash;one last thing! We just sent you an email to confirm that you're a Rails developer who is interested in Heya. Please click the link to confirm your email address.
</p>
